.menu_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 80px;
    height: 100%;
}

.menu_container_small {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #161616;
    width: 100%;
    height: 58px;
}

.menu {
    background-color: #161616;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(135deg, rgb(16, 16, 16), rgb(172, 21, 21));
}

.menu_small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    margin-top: 5px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.logo_small {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.itemlist {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 85%;
    overflow: hidden;
}

.itemlist_small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: #202020;
    width: 100%;
}

.menubar_icon {
    display: none;
}

.menubar_icon_small {
    height: 50px;
    width: 50px;
    color: #fff;
    line-height: 50px;
    font-size: 1.7rem !important;
    cursor: pointer;
    position: relative;
}

.middle_line {
    position: absolute;
    width: 50%;
    height: 2px;
    border-radius: 1px;
    background-color: #a9a9a9;
    top: 50%;
    left: 25%;
    transition: all .3s ease 0s;
}

.middle_line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #a9a9a9;
    top: -9px;
    left: 0;
    transition: all .3s ease 0s;
}

.middle_line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #a9a9a9;
    bottom: -9px;
    left: 0;
    transition: all .3s ease 0s;
}

.middle_line.opened {
    background-color: #161616;
}

.middle_line.opened::before {
    top: 0;
    transform: rotate(45deg);
}

.middle_line.opened::after {
    bottom: 0;
    transform: rotate(-45deg);
}