body, #root, .App {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: 'Gilrooy';
  position: absolute;
}

#root, .smallmode {
  overflow: auto;
}

.smallmode {
  padding-top: 58px;
  position: absolute;
}

.smallscreen_page {
  height: auto !important;
}